
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div style="font-family: Helvetica, sans-serif; padding-left: 10px;" align="left">
            <h2>__PRODUCT__ installed</h2>
            <p style="color: #020202; font-size: 13px">Thank you for installing __PRODUCT__.</p>
            <p style="color: #020202; font-size: 13px">__PRODUCT__ has been installed as a
            launch daemon and will run in the background when this machine boots. There is
            no need to start the application, but if you do need to, then double-click the
            __PRODUCT__.command file in /Library/__PRODUCT__.</p>
        </div>

        <div style="font-family: Helvetica, sans-serif; padding-left: 10px;" align="left">
            <h2>.NET 7 Requirements</h2>
            <p>Please <a href="https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-7.0.400-macos-__ARCH_SHORT__-installer">download
            and install the .NET SDK</a>.
        </div>

        <div style="font-family: Helvetica, sans-serif; padding-left: 10px;" align="left">
            <br/>
            <h3>Resources</h3>
                <p style="color: #020202; font-size: 13px">For more information on __PRODUCT__ head to:</p>
                <ul>
                    <li><a href="https://www.codeproject.com/ai" style="font-size: 13px">CodeProject.AI Server homepage</a></li>
                    <li><a href="https://www.codeproject.com/ai/docs" style="font-size: 13px">Documentation</a></li>
                </ul>
        </div>

        <div style="font-family: Helvetica, sans-serif; padding-left: 10px;" align="left">
            <br/><br/>
            <h3>To uninstall __PRODUCT__</h3>
            <p style="color: #020202; font-size: 13px">Run the following command to uninstall
            __PRODUCT__.</p>
            
            <code style="color: #c6a72b; font-size: 13px">$ 
            <span style="color: #abb0b0">sudo bash "/Library/__PRODUCT__/__VERSION__/uninstall.sh"</span>
            </code>

        </div>
        <div style="font-family: Helvetica; padding-left: 10px;" align="left"><br />
            <p style="color: #abb0b0; font-size: 10px;">Copyright © 2024 CodeProject. All rights reserved.</p>
        </div>
    </body>
</html>
