# macOS installer
/macOS/application
/macOS/build/
/macOS/target
/macOS/*.pkg
/macOS/CodeProject.AI-Server_*_macOS_*.zip

# Ubuntu/Debian installer
/Ubuntu/build/
/Ubuntu/installer/
/Ubuntu/*.deb
/Ubuntu/codeproject.ai-server_*_Ubuntu_*.zip

# Windows installer
/Windows/Inno Setup/Output
/Windows/Inno Setup/assets/dotnet-hosting-*.exe

# PyPi builder
/.vs/
/PyPi/

# macOS debris
.DS_Store
